

  

    <app-header></app-header>
    

    <app-intro-section></app-intro-section>

    <app-about-us-section></app-about-us-section>


    <router-outlet></router-outlet> 


    <div class="container">
        <h3><br>Servicio HttpsClient: ejemplo</h3>
        <app-one-post></app-one-post>
    </div>







    <app-services></app-services>

    <app-why-us-section></app-why-us-section>

    <app-portfolio></app-portfolio>

    <app-testimonials></app-testimonials>
    
    <app-team></app-team>

    <app-clients></app-clients>
    
     <app-contact></app-contact>
  
  
     <app-footer></app-footer>
    
     
    

 
    





